.Controls{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}
.TextAreaContainer{
    flex-grow: 1;
    padding: 8px 16px;
    border-radius: 16px;
    line-height: 0;
    background: #ffffff;
}
.TextArea{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    background: #ffffff;
    color: #0d0d0d;
}
.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    outline: none;
    background: #0d0d0d;
}
.Button svg{
    fill: #f3f3f3;
}